Webtechnology/XML/personinfo1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">

    <xs:group name="persongroup">
        <xs:sequence>
            <xs:element name="full_name" type="xs:string"/>
            <xs:element name="child_name" type="xs:string"/>
            <xs:element name="address" type="xs:string"/>
        </xs:sequence>

    </xs:group>

    <xs:element name="person" type="personinfo"/>

    <xs:complexType name="personinfo">
        <xs:sequence>
            <xs:group ref="persongroup"/>
            <xs:element name= "country" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>